mat-toolbar {
  display: flex;

  nav {
    margin: 0 auto;
  }

  .login-button {
    width: 117px;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;

  .logo {
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    span {
      margin-bottom: 1px;
      height: fit-content;
      line-height: 10px;
      font-size: 10px;
    }
  }
}

::ng-deep {
  .mat-tab-nav-bar .mat-tab-link {
    color: white;
    height: 64px;

    &.selected {
      opacity: 1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: white;
      }
    }
  }
}
