<mat-card>
  <mat-card-title>Про нас:</mat-card-title>

  <mat-card-content>
    <div class="info-wrapper">
      <img src="../../../assets/house.png">

      <p>
        Наш будинок розташований в мальовничий місцевості села Солонка та входить до житлового комплексу «Крущеницьке».
        Він побудований у 2020 році і введений в експлуатацію в 2021 році, має 3 поверхи та прямокутну в плані форму з
        невеликим подвірям. Житловий фонд складається з одно і двохкімнатних квартир. У кожну квартиру проведено
        оптоволоконні лінії швидкісного інтернету. Тротуари вимощені бруківкою.
      </p>
    </div>

    <mat-accordion>
      <mat-expansion-panel hideToggle (opened)="isExtraInfoOpened = true" (closed)="isExtraInfoOpened = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="tariffs-wrapper">
              <img src="../../../assets/tariffs.png">

              <p>Комунальні тарифи і внески</p>
            </div>

            <button mat-raised-button color="primary">{{isExtraInfoOpened ? 'Приховати' : 'Перевірити'}}</button>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="table-wrapper">
          <div class="table-title">Внески співвласників</div>

          <table mat-table [dataSource]="ownersContributionsData" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Назва</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.name}} </td>
            </ng-container>

            <ng-container matColumnDef="sum">
              <th mat-header-cell *matHeaderCellDef> Сума</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.sum}} </td>
            </ng-container>

            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef> Підстава</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.reason}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ownersContributionsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ownersContributionsDisplayedColumns;"></tr>
          </table>

          <div class="table-title with-top-offset">Комунальні тарифи</div>

          <table mat-table [dataSource]="tariffsData" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Назва</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.name}} </td>
            </ng-container>

            <ng-container matColumnDef="sum">
              <th mat-header-cell *matHeaderCellDef> Сума</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.sum}} </td>
            </ng-container>

            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef> Підстава</th>
              <td mat-cell *matCellDef="let tariff"> {{tariff.reason}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tariffsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tariffsDisplayedColumns;"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
