<mat-card>
  <mat-card-title>
    <div class="documents-title">
      Документи:

      <button *ngIf="isCurrentUserAdmin" mat-raised-button class="add-document-button" color="primary"
              (click)="addDocument()">
        Додати документ
      </button>
    </div>
  </mat-card-title>

  <mat-card-content>
    <mat-accordion class="documents-wrapper" multi>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Нормативно-правові документи
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="law-documents-wrapper">
          <div class="law-document" *ngFor="let law of lawDocumentLinks">
            <mat-icon class="material-icons-outlined">insert_drive_file</mat-icon>
            <a mat-button class="link-button" [href]="law.link" target="_blank">{{law.title}}</a>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="documents.statutoryDocuments.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Статутні документи
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="documents.minutesCoOwnersMeetings.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Протоколи зборів співвласників
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="documents.minutesBoardMeetings.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Протоколи засідань правління
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="documents.financialReports.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Фінансові звіти
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <!--todo: remove-->
  <button mat-button  mat-raised-button class="add-document-button" color="primary" (click)="downloadFile(4)">Скачати файл</button>
</mat-card>
