<mat-card>
  <mat-card-title>
    <div class="advertisements-title">
      Оголошення:

      <button *ngIf="isCurrentUserAdmin" mat-raised-button class="add-advertisement-button" color="primary"
              (click)="addAdvertisement()">
        Додати оголошення
      </button>
    </div>
  </mat-card-title>

  <div *ngIf="!advertisements" class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card-content>
    <div class="advertisement" *ngFor="let advertisement of advertisements">
      <div class="advertisement-title">
        <mat-icon class="material-icons-outlined">sms_failed</mat-icon>
        {{advertisement.title}}

        <button *ngIf="isCurrentUserAdmin" mat-icon-button class="delete" (click)="deleteAdvertisements(advertisement)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="advertisement-text">
        {{advertisement.text}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
