:host {
  ::ng-deep {
    .mat-dialog-actions {
      justify-content: end;
      margin-top: 20px;
    }

    .mat-dialog-content {
      display: flex;
      flex-direction: column;
    }
  }
}

.info-wrapper {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold;
    color: #606060;
    font-size: 13px;
    margin-bottom: 3px;
  }

  .info {
    font-size: 15px;
  }
}
